h1,
p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1240px;
    min-height: 1400px;
    background-color: #FFE09D;
    background-image: url('../images/star4.svg');
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 550px;
}

.header {
    max-width: 1290px;
    margin: 0 auto;
    padding: 28.5px 0;
    margin-bottom: 34px;
}

.logo {
    width: 192.5px;
}

.recipe {
    display: flex;
}

.recipe__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #343440;
    margin-bottom: 70px;
}

.recipe__content {
    position: relative;
    max-width: 725px;
    min-height: 700px;
    padding: 40px 20px 40px 40px;
    display: flex;
    background-color: #FFAF9D;
    margin-bottom: 70px;
    margin-right: 49px;
}

.recipe__content:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    left: 21px;
    z-index: -1;
    border: 4px solid #343440;
}

.recipe__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #343440;
    white-space: pre-wrap;
}

.recipe__text__img {
    align-self: flex-start;
}

.recipe__right {
    display: flex;
    flex-direction: column;
}

.recipe__img {
    max-width: 424px;
    margin-left: 22px;
    margin-bottom: 20px;
}

.recipe__arrow {
    max-width: 248px;
}

.btn__gpt_print {
    width: 280px;
    height: 80px;
    padding: 0 48.5px;
    background: #EDFF9D;
    border: 1px solid #343440;
    box-shadow: 4px 4px 0px #343440;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 171%;
    color: #343440;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 112px;
}

.btn__gpt_print img {
    width: 50px;
}


@media print {
    @page {
        size: 2480px 3508px;
    }

    .recipe__right,
    .recipe__text__img,
    .btn {
        display: none;
    }

    .recipe__left,
    .recipe__content {
        max-width: 100%;
    }
}
