body {
    margin: 0;
    padding: 0;
    background-color: #FFE09D;
}

.header {
    max-width: 1290px;
    margin: 0 auto;
    padding: 28.5px 0;

}

.logo {
    width: 192.5px;
}

.title {
    height: 551px;
    max-width: 1290px;
    margin: 0 auto;
    padding: 34px 0 65px;
    display: flex;
    justify-content: space-between;
}

.title__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #343440;
}

.title__ingr {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 718px;
    height: 270px;
    background-color: #EDFF9D;
    margin-right: 77px;
}

.title__ingr:after {
    content: "";
    position: absolute;
    width: 718px;
    height: 270px;
    top: -20px;
    left: 16px;
    z-index: -1;
    background-color: #FFE09D;
    border: 4px solid #343440;
}

.ingr__text {
    height: 270px;
    padding: 48px 0 48px 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #343440;
}

.ingr__img {
    align-self: flex-start;
    max-width: 424px;
}

.cooking {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 843px;
    background-color: #FFAF9D;
    background-image: url('../images/star4.svg');
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.cooking__content {
    height: 100%;
    max-width: 1290px;
    margin: 0 auto;
    position: relative;
}

.cooking__text {
    width: 50%;
    padding-top: 65px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #343440;
    margin-bottom: 55px;
}

.cooking__arrow {
    position: absolute;
    right: 212px;
    top: -63px;
}

.btn__gpt_print {
    width: 280px;
    height: 80px;
    padding: 48.5px;
    background: #FFE09D;
    border: 1px solid #343440;
    box-shadow: 4px 4px 0px #343440;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 171%;
    color: #343440;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.btn__gpt_print img {
    width: 50px;
}


@media print {
    @page {
        size: 2480px 3508px;
    }

    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .title__ingr:after,
    .title__img,
    .cooking__arrow,
    .btn {
        display: none;
    }

    .title__content,
    .title__ingr,
    .ingr__text,
    .cooking__text {
        width: 100%;
    }

    .title,
    .title__ingr,
    .ingr__text {
        height: auto;
    }
}