body {
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1760px;
    background-color: #FFF1D7;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.header {
    height: 128px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #FFF1D7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    z-index: 1;
}

.header a {
    padding: 20px;
    background-color: #FFF1D7;
}

.logo {
    width: 192.5px;
}

.logo:hover {
    opacity: 0.7;
}

.search-form {
    display: inline-flex;
    height: 72px;
}

.search {
    display: inline-flex;
    width: 720px;
    height: 100%;
    background: #FFFFFF;
    border: 2px solid #343440;
    box-sizing: border-box;
    margin-right: 24px;
    outline: none;
}

.search__icon {
    width: 25.39px;
    margin-left: 19.5px;
    margin-right: 15.11px;
}

.search__field {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    border: 0;
    color: #343440;
}

.search__field:focus {
    outline: none;
}

.search__btn {
    width: 273px;
    height: 100%;
    background: #FFC100;
    border: 2px solid #343440;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-transform: capitalize;
    color: #343440;
    cursor: pointer;
}

.request-text {
    margin-bottom: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #343440;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: auto;
    overflow: hidden;
    text-decoration: none;
    background-color: #FFF;
}

.card:hover {
    opacity: 0.7;
}

.card__image {
    height: 350px;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.card__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.card__body {
    padding: 24px 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card__category {
    padding-bottom: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120.18%;
    color: #5D5D66;
}

.card__title {
    flex-grow: 1;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #343440;

}

.card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0 25px;
}

.card__time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120.18%;
    color: #343440;
    display: flex;
    align-items: center;
}

.card__time::before {
    content: url('../images/clock.svg');
    margin-right: 7.75px;
}

.card__rating {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120.18%;
    color: #EE5230;
}

.pagination {
    margin: 44px auto 100px auto;
    max-width: max-content;
}

.pagination__content {
    display: flex;
}

.pagination__left:hover {
    opacity: 0.6;
}

.pagination__numbers {
    display: flex;
    align-items: center;
    margin: 0 80px;
}

.pagination__number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.15em;
    color: #343440;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.number_current {
    color: #FE5607;
}

.pagination__right:hover {
    opacity: 0.6;
}

.norecipe {
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.norecipe__img {
    max-width: 690px;
    align-self: center;
}


@media (max-width: 1540px) {
    .search {
        max-width: 559px;
    }

    .search__btn {
        width: 209px;
    }

    .card__category {
        font-size: 18px;
        line-height: 120.18%
    }

    .card__title {
        font-size: 20px;
        line-height: 140%;
    }

    .card__time,
    .card__rating {
        font-size: 20px;
        line-height: 120.18%;
    }
}