body {
    margin: 0 auto;
    max-width: 1800px;
    padding: 0;
    background-color: #FFF1D7;
}

h1,
h2,
h3,
p,
section,
ul,
li {
    margin: 0;
    padding: 0;
}

.header {
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    width: 192.5px;
}

.logo:hover {
    opacity: 0.7;
}

.search-form {
    display: inline-flex;
    height: 72px;
}

.search {
    display: inline-flex;
    width: 720px;
    height: 100%;
    background: #FFFFFF;
    border: 2px solid #343440;
    box-sizing: border-box;
    margin-right: 24px;
    outline: none;
}

.search__icon {
    width: 25.39px;
    margin-left: 19.5px;
    margin-right: 15.11px;
}

.search__field {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    border: 0;
    color: #343440;
}

.search__field:focus {
    outline: none;
}

.search__btn {
    width: 273px;
    height: 100%;
    background: #FFC100;
    border: 2px solid #343440;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-transform: capitalize;
    color: #343440;
    cursor: pointer;
}

.title {
    height: 740px;
    margin: 0 auto;
    background-color: #FFC100;
    padding: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.title__wrapper {
    border: 4px solid #FFFFFF;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}

.title__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 67px 39.5px 32px 74.5px;
    height: auto;
    width: 40%;
    box-sizing: border-box;
}

.title__category {
    margin-bottom: 7px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    color: #FFFFFF;
}

.title__text {
    margin-bottom: 44.75px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
}

.title__rating {
    display: flex;
    align-items: center;
    justify-self: start;
    margin-bottom: auto;
}

.rating__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    color: #F45B49;
    margin-right: 24px;
}

.rating__stars {
    display: flex;
    align-items: center;
}

.title__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    justify-self: end;
}

.title__timer {
    display: flex;
    align-items: center;
    margin-right: 66px;
}

.timer__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    color: #FFFFFF;
    margin-left: 26px;
}

.title__portion {
    display: flex;
    align-items: center;
}

.portion__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    color: #FFFFFF;
    margin-left: 26px;
}

.title__img {
    position: absolute;
    bottom: 14px;
    right: 24px;
    width: 48%;
}

.info {
    max-width: 1466px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 71px;
}

.info__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 199px;
    background-color: #FFFFFF;
    border: 4px solid #F45B49;
    box-shadow: 6px 6px 0px #F45B49;
}

.info__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    color: #343440;
    margin-bottom: 10px;
}

.info__value {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    color: #F45B49;
}

.recipe {
    max-width: 1466px;
    margin: 0 auto;
    padding-bottom: 137px;
}

.ingredients {
    margin-bottom: 70px;
}

.ingredients__head {
    display: flex;
    align-items: center;
    /* margin-bottom: 24px; */
}

.ingredients_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #343440;
    margin-left: 16px;
}

.ingredients__item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-left: 79px;
}

.ingredients__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #343440;
    padding-left: 20px;
}

.instruction {
    margin-bottom: 44px;
}

.instruction__head {
    display: flex;
    align-items: center;
    /* margin-bottom: 14px; */
}

.instruction_img {
    width: 99px;
}

.instruction_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #343440;
    margin-left: 14px;
}

.instruction__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    color: #343440;
    text-indent: 115px;
}

.btn_print {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    color: #343440;
    background-color: #FFC100;
    width: 280px;
    height: 80px;
    border: 1px solid #343440;
    box-shadow: 4px 4px 0px #343440;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn_print img {
    margin-right: 22px;
    margin-left: 45px;
}


@media (max-width: 1445px) {
    body {
        max-width: 1340px;
    }

    .title {
        height: 625px;
    }

    .title__category {
        font-size: 36px;
        line-height: 44px;
    }

    .title__text {
        font-size: 44px;
        line-height: 54px;
    }

    .title__rating,
    .title__timer,
    .title__portion {
        font-size: 36px;
        line-height: 44px;
    }

    .info__text,
    .info__value {
        font-size: 32px;
        line-height: 48px;
    }

    .info__block {
        height: 153px;
    }

    .info,
    .recipe {
        max-width: 1172px;
    }

    .ingredients_title,
    .instruction_title {
        font-size: 36px;
        line-height: 44px;
    }

    .ingredients__text {
        font-size: 32px;
        line-height: 48px;
    }

    .instruction__text {
        font-size: 32px;
        line-height: 50px;
    }
}

@media print {
        @page {
            size: 2480px 3508px;
        }

    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    /* p,
    .instruction__text {
        font-size: 30px;
    } */

    .search-form,
    .title__rating,
    .title__img,
    .info,
    .ingredients_img,
    .instruction_img,
    .btn {
        display: none;
    }

    .title__content {
        width: 100%;
    }

    .title,
    .title__wrapper {
        height: auto;
    }

    .title__bottom {
        justify-content: center;
    }
}