<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/gpt_pecipe.css">
</head>

<body>
    <header class="header">
        <a href="http://127.0.0.1:8000">
            <img class="logo" src="/static/images/RD_logo2.png" alt="RandomDessert logo">
        </a>
    </header>

    <section class="title">
        <div class="title__content">
            <div class="title__text">
                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
            </div>
            <div class="title__ingr">
                <div class="ingr__text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eligendi cumque reprehenderit
                        exercitationem sit, ut, veniam maiores praesentium facilis nobis suscipit officia laudantium.
                        Iusto suscipit quidem enim sapiente modi iure.
                    </p>
                </div>
                <img class="ingr__img" src="/static/images/star3.svg" alt="">
            </div>
        </div>
        <img class="title__img" src="/static/images/pancakes.png" alt="">
    </section>
    <section class="cooking">
        <div class="cooking__content">
            <div class="cooking__text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate veniam harum dolores nostrum
                    dolorem
                    in? Quaerat sint reiciendis vel alias, magnam, totam labore, fugit a nulla fugiat voluptatum natus
                    consequuntur at dignissimos illo incidunt ratione possimus sapiente sunt omnis dolorum nobis
                    molestias.
                    Eos et id distinctio reiciendis officiis quam placeat! Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Dolore reiciendis fugit voluptatum ut atque odio ipsa quasi distinctio facere quo!
                </p>
            </div>
            <img class="cooking__arrow" src="/static/images/curl_arrow.svg" alt="">
        </div>

    </section>
</body>

</html>