<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/gpt_pecipe.css">
</head>

<body>
    <header class="header">
        <a href="http://127.0.0.1:8000">
            <img class="logo" src="/static/images/RD_logo2.png" alt="RandomDessert logo">
        </a>
    </header>

    <section class="title">
        <div class="title__content">
            <div class="title__text">
                <h1>{{ gpt_recipe_name }}</h1>
            </div>
            <div class="title__ingr">
                <div class="ingr__text">
                    <p>
                        {% for ingr in gpt_recipe_ingredients %}
                            {{ ingr }}
                        {% endfor %}
                    </p>
                </div>
                <img class="ingr__img" src="/static/images/star3.svg" alt="">
            </div>
        </div>
        <img class="title__img" src="/static/images/pancakes.png" alt="">
    </section>
    <section class="cooking">
        <div class="cooking__content">
            <div class="cooking__text">
                <p>
                    {{ gpt_recipe_description }}
                </p>
            </div>
            <button class="btn btn__gpt_print"><img src="/static/images/printer.svg" alt="printer">Печать</button>
            <img class="cooking__arrow" src="/static/images/curl_arrow.svg" alt="arrow">
        </div>
    </section>
    <script src="/static/js/gpt_recipe.js"></script>
</body>

</html>