<!-- {% extends 'index.html' %} -->

{% block content %}

<small class="text-muted">(Рецептов по Вашему запросу: {{ filter|length }})</small><br>

{% for recipe in recipe_page_obj %}
<hr>
<a class="nav-link" href={{ recipe.id_recipe }}>{{ recipe.name_recipe }}</a>
<br>
{{ recipe.text_recipe|truncatewords:20 }}
<br>
{% endfor %}

<hr>
{% load spurl %}

{% if is_paginated %}

{% if recipe_page_obj.has_previous %}
<a href="{% spurl query=request.GET set_query='page=1'%}">First</a>
<a href="{% spurl query=request.GET set_query='page={{ recipe_page_obj.previous_page_number }}'%}"><-< /a>
        {% endif %}

        {% for num in recipe_page_obj.paginator.page_range %}
        {% if recipe_page_obj.number == num %}
        <a>{{ num }}</a>
        {% elif num > recipe_page_obj.number|add:'-3' and num < recipe_page_obj.number|add:'3' %} <a
            href="{% spurl query=request.GET set_query='page={{ num }}'%}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if recipe_page_obj.has_next %}
<a href="{% spurl query=request.GET set_query='page={{ recipe_page_obj.next_page_number }}'%}">-></a>
<a href="{% spurl query=request.GET set_query='page={{ recipe_page_obj.paginator.num_pages}}'%}">Last</a>
{% endif %}
{% endif %}

{% endblock content %}