<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Random desert</title>
</head>
<body>
    <header>Header</header>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eligendi itaque officia perferendis quo similique tempora? Dolorem, quam qui? Exercitationem fugiat id inventore sit veritatis. Magnam nulla optio quas saepe.</p>
        <section>
            <form action="/" method="POST">
                    <label for="food">Что хотите приготовить: </label>
                    <input type="text" name="food" id="food" placeholder="название блюда">
                    <button type="submit">Отправить</button>
            </form>

            {% if rec %}
                <h2>{{ rec['recipe_name'] }}</h2>
                <ul>
                    {% for d in rec['ingredients'] %}
                    <li>{{ d }} - {{ rec['ingredients'][d] }}</li>
                    {% endfor %}
                </ul>
                <p>{{ rec['text'] }}</p>
            {% endif %}
        </section>

    </main>

    <footer>Footer</footer>
</body>
</html>